.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin: 0;
  background-color: #040216;
  color: white
}

.Wrapper{
  color: white;
  width: 100%;
  max-width: 1200px;
  margin: 0,auto;
  display: grid;
  grid-template-areas: 'h h'
  'n p';
  grid-gap: 10px;
  grid-template-columns: 2fr 10fr;
}

.Wrapper>div{
  background-color: rgb(70,79,12);
  border-radius: 10px;
}

.Header{
  grid-area: h;
}

.Navbar{
  grid-area: n;
}

.Profile{
  grid-area: p;
}